<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="./login.css">
    <title>Login - myPlant</title>
</head>
<body>

    <header>

        <a href="./main.html" class="logo">myPlant</a>

        <nav class="navbar">
            <a href="./main.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./doc.html">Documentație</a>
        </nav>

        <div class="icons">
            <a href="./login.html" class="fas fa-heart"></a>
            <a href="./login.html" class="fas fa-shopping-cart"></a>
            <a href="./login.html" class="fas fa-user"></a>

        </div>

    </header>


    <div class="form-container">
        <form id="registrationForm" action="#" method="post">
            <h3>LOGIN</h3>
            <input type="text" name="name" class="box" placeholder="Enter your username" required>
            <input type="password" name="password" class="box" placeholder="Enter your password" required>

            <input type="submit" name="submit" class="submit_button" value="Login">
         
        </form>    
    </div>

    <div id="message"></div>
</div>
    

    <script>
        document.querySelector('#registrationForm').addEventListener('submit', async (event) => {
          event.preventDefault();
        
          const username = event.target.elements.name.value;
          const password = event.target.elements.password.value;

          console.log(username, password);
        
          const response = await fetch('http://127.0.0.1:8085/auth', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ username, password })
          });
    
          const messageElement = document.querySelector('#message');
        
          if (!response.ok) {
            messageElement.textContent = `Error: ${response.status}`;
            return;
          }
        
          const data = await response.json();
          console.log(data);
          localStorage.setItem('token', data.token);
          console.log(localStorage.getItem('token'));
          console.log(data.token);
        //  messageElement.textContent = 'Login successful!';

          if(data.role == 'client'){
            window.location.href = 'http://127.0.0.1:5500/frontend/Client/home.html';
          }
          else if(data.role == 'producer')
          {
            window.location.href = 'http://127.0.0.1:5500/frontend/Producer/home.html';
          }

          
        });
    </script>

</body>
</html>